@basic-margin: 20px;
@color-green: #68B738;
@color-white: #ffffff;
@color-black: #000000;

.additional-catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-left: @basic-margin;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 36px;
  border-bottom: 1px solid #cdcdcd;
}

.additional-catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 20px;
}

.additional-catalog__item {
  padding: 13px 0 19px 0;
}

.additional-product__name {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 13px;
}

.additional-product__criteria,
.additional-product__value {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 15px;
  display: block;
}

.additional-product {
  border-bottom: 1px solid #cdcdcd;
}
