.advantages {
  margin-top: 20px;
}

.advantages__title {
  @media (min-width: @mobile-width-only) {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    font-weight: normal;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    margin-top: 45px;
  }
}

.advantages__list {
  @media (min-width: @mobile-width-only) {
    list-style-type: none;
    margin: 40px 0 49px 0;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 247px 249px;
    row-gap: 37px;
    column-gap: 137px;
    margin: 32px 0 47px 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.advantages__item {
  @media (min-width: @mobile-width-only) {
    display: flex;
    margin-bottom: 20px;
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    min-height: 280px;
    flex-direction: column;
    br {
      display: block;
    }
  }

  &--one {
    @media (min-width: @tablet-width) {
      background: url("/img/background-advantages-one.png") no-repeat 118px 40px;
      width: 230px;
    }
  }

  &--two {
    @media (min-width: @tablet-width) {
      background: url("/img/background-advantages-two.png") no-repeat 112px 40px;
      width: 246px;
    }
  }

  &--three {
    @media (min-width: @tablet-width) {
      background: url("/img/background-advantages-three.png") no-repeat 113px 40px;
      width: 247px;
    }
  }

  &--four {
    @media (min-width: @tablet-width) {
      background: url("/img/background-advantages-four.png") no-repeat 113px 40px;
      width: 249px;
    }
  }
}

.advantages__icon {
  @media (min-width: @tablet-width) {
    margin-top: 40px;
    width: 80px;
    height: 80px;
  }
}

.advantages__description {
  @media (min-width: @mobile-width-only) {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: @color-special-grey;
    margin: 0;
    padding-left: 20px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 31px;
  }
}

.advantages__wrapper {
  @media (min-width: @mobile-width-only) {
    margin-top: 20px;
    margin-bottom: 49px;
    box-sizing: border-box;
  }
}
