.button-catalog {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  &--product {
    background-color: @color-green;
    color: @color-white;

    &:hover {
      background-color: #5eaa2f;
    }

    &:focus {
      outline: 1px solid @color-white;
    }

    &:active {
      background-color: #5eaa2f;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--view {
    color: #444444;
    background-color: #f2f2f2;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
