.catalog {
  position: relative;

  @media (min-width: @tablet-width) {
    min-height: 372px;
  }

  @media (min-width: @desktop-width) {
    min-height: 374px;
  }
}

.catalog__icon {
  &--cat-skinny {
    margin-top: 21px;
    margin-left: 22px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--cat-sport {
    margin-top: 24px;
    margin-left: 13px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--cat-skinny-tablet {
    @media (min-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      display: block;
      position: absolute;
      right: 62px;
      top: 81px;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--cat-sport-tablet {
    @media (min-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      display: block;
      position: absolute;
      right: 28px;
      top: 91px;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--cat-skinny-desktop {
    @media (min-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      margin-top: 41px;
      margin-left: 52px;
    }
  }

  &--cat-sport-desktop {
    @media (min-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      margin-top: 47px;
      margin-left: 33px;
    }
  }
}

.catalog__heading {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @mobile-width-only) {
    position: absolute;
    left: 91px;
    top: 30px;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 77px;
    padding-left: 53px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 77px;
    left: 214px;
    padding: 0;
  }
}

.catalog__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @color-special-grey;
  margin-left: 20px;
  margin-top: 22px;
  margin-right: 33px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin-top: 24px;
    margin-left: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 467px;
    margin-top: 39px;
  }
}

.catalog__link {
  margin: 15px auto 0 19px;

  @media (min-width: @tablet-width) {
    margin: 52px auto 0 52px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 23px auto 0 52px;
  }
}
