.catalogs__list {
  margin: 0;
  padding: 0 @basic-margin 0 @basic-margin;
  list-style-type: none;
}

.catalogs__item {
  background-color: @color-basic-grey-light;
  font-family: "Oswald", sans-serif;
  color: @color-black;
  margin-top: 20px;
}

