.footer-container {
  background-color: @color-basic-grey-light;
}

.footer-container__link {
  &--html-academy {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.footer-container__wrapper {
  margin: 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
