@basic-margin: 20px;
@color-green: #68B738;
@color-white: #ffffff;
@color-black: #000000;

.footer-container {
  margin: 0;
  padding: 0;
  padding-left: @basic-margin;
  padding-right: @basic-margin;
}

.social-network__list {
  list-style-type: none;
}

.link-html-academy__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: auto;
  color: #444444;
  text-decoration: none;
}

.logo-text {
  fill: #111111;
}

.link-logo-text {
  &:hover .logo-text {
    fill: rgba(17, 17, 17, 0.8);
  }

  &:focus {
    outline: 1px solid @color-green;
  }

  &:active .logo-text {
    fill: rgba(17, 17, 17, 0.6);
  }
}

.social-network__icon {
  fill: #666666;
}

.social-network__link {
  &:hover .social-network__icon {
    fill: @color-green;
  }

  &:focus {
    outline: 1px solid @color-green;
  }

  &:active .social-network__icon {
    fill: rgba(104, 183, 56, 0.3);
  }
}

.link-html-academy {
  text-decoration: none;

  &:hover .link-html-academy__image {
    fill: @color-green;
  }

  &:focus {
    outline: 1px solid @color-green;
  }

  &:active .link-html-academy__image {
    fill: rgba(104, 183, 56, 0.3);
  }

  &:active .link-html-academy__text {
    color: rgba(68, 68, 68, 0.3);
  }
}

.link-html-academy__image {
  fill: #666666;
}
