.group-input__item {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 13px;
}

.group-input--main-form {
  border-bottom: 1px solid #d9d9d9;
}

.group-input__input {
  border: 1px solid #e7e7e7;
  margin-left: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
  }

  &.group-input__input--error {
    border: 1px solid #ff8282;
  }
}
