.link-logo {
  text-decoration: none;
  width: 280px;
  display: block;
  width: 191px;
  margin-left: @basic-margin;
  margin-right: @basic-margin;

  @media (min-width: @tablet-width) {
    display: block;
    width: 174px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  &:hover {
    fill-opacity: 80%;
  }

  &:focus {
    outline: 1px solid @color-green;
  }

  &:active {
    fill-opacity: 60%;
  }
}
