.location {
  margin: 0;
  padding: 0;
  background-color: @color-basic-grey-light;
  display: grid;
  grid-template-columns: 140px 140px;
  &--background-index {
    background-color: @color-white;
  }
}

.location__invitation {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  margin-left: @basic-margin;
}

.location__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @color-special-grey;
  margin-right: @basic-margin;
}
