.main-container__wrapper {
  @media (min-width: @tablet-width) {
    padding-left: @tablet-margin;
    padding-right: @tablet-margin;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    padding-left: @desktop-margin;
    padding-right: @desktop-margin;
  }
}
