.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  background-color: @color-white;
  color: @color-black;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    margin-right: @tablet-margin;
  }

  &--index {
    @media (min-width: @desktop-width) {
      background: url("/img/background-cat-desctop.jpeg") no-repeat right top;
      margin: 0;
    }
  }
}
.main-header__link {
  margin-left: @basic-margin;

  @media (min-width: @tablet-width) {
    margin-left: @tablet-margin;
  }
}

.main-header__button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: @color-white;

  &:focus {
    outline: 1px solid @color-green;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin-left: @basic-margin;
  margin-right: @basic-margin;

  @media (min-width: @tablet-width) {
    display: block;
    width: 174px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.main-header__icon {
  margin-right: 0;
}

.main-header__logo {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__logo-text {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__logo-tablet {
  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-header__logo-desktop {
  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-left: @desktop-margin;
  }
}

.main-header__list {
  &--index {
    @media (min-width: @desktop-width) {
      margin-top: 0;
      background: url("/img/background-cat-desctop.jpeg") no-repeat right top;
    }
  }
}
