.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  background-color: @color-white;
  color: @color-black;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-header__link {
  margin-left: @basic-margin;
}

.main-header__button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: @color-white;

  &:focus {
    outline: 1px solid @color-green;
  }
}

.main-header__wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin-left: @basic-margin;
  margin-right: @basic-margin;
}

.main-header__icon {
  margin-right: 0;
}
