.our-client {
  background-color: #EAEAEA;
  padding:25px 20px 40px 20px;
}

.our-client__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.our-client__description {
  margin-top: 40px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.our-client__description {
  padding: 0;
}
