@color-green: #68B738;
@color-white: #ffffff;
@color-black: #000000;
@basic-margin: 20px;

.product-catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0, @basic-margin, 0, @basic-margin;
}

.product-catalog__item {
  border-bottom: 1px solid #ebebeb;
  padding-top: 8px;
  padding-bottom: 11px;
}
