.product-catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0, @basic-margin, 0, @basic-margin;
}

.product-catalog__item {
  border-bottom: 1px solid @color-basic-grey;
  padding-top: 8px;
  padding-bottom: 11px;
}
