.product-additional {
  display: flex;
  flex-direction: column;
}

.product-additional__button {
  border: none;
  background-color: @color-white;
}

.product-additional__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @color-black-light;
}

.product-additional__intro {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @color-special-grey;
  text-align: center;
}

.product-additional__button-all {
  padding: 0;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @color-basic-grey;
  }

  &:focus {
    outline: 1px solid @color-green;
  }

  &:active {
    background-color: @color-basic-grey;
    color: @color-black-opacity;
  }
}
