@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswaldregular.woff");
}

.promo {
  background: url("/img/background-cat.jpeg") no-repeat @color-green;
  background-color: @color-white;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    background: none;
    margin-left: @basic-margin;
    margin-right: @basic-margin;
  }
}

.promo__intro {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @color-white;
  @media (min-width: @tablet-width) {
    color: @color-black;
    text-transform: uppercase;
    margin-left: 89px;
    text-align: start;
  }
}

.promo__image {
  margin-top: 29px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.promo__image-tablet {
  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.promo__button {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @color-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @color-green;
  text-align: center;
  display: block;
  margin: 0 auto 0 auto;
  text-align: center;
  width: 280px;
  min-height: 40px;

  &:hover {
    background-color: @color-green-dark;
  }

  &:focus {
    outline: 1px solid @color-white;
  }

  &:active {
    background-color: @color-green-dark;
    color: @color-white-opacity;
  }

  &--top {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: 292px;
      margin-left: 90px;
      width: 244px;
      height: 54px;
      font-size: 20px;
      line-height: 20px;
    }
  }
}
