@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswaldregular.woff");
}

.promo {
  @media (min-width: @desktop-width) {
    &::before {
      width: 50%;
      min-height: 694px;
      background-color: @color-green-dark;
      background-image: url("/img/background-cat-desctop.jpeg");
      background-repeat: no-repeat;
      background-position: right top;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
}

.promo__wrapper {
  background-image: url("/img/background-cat.jpeg");
  background-repeat: no-repeat;
  position: top;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: none;
    min-height: 872px;
  }

  @media (min-width: @desktop-width) {
    min-height: 585px;
    position: relative;
  }
}

.promo__intro {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @color-white;
  text-transform: uppercase;
  padding-left: 40px;

  @media (min-width: @tablet-width) {
    color: @color-black;
    text-transform: uppercase;
    text-align: start;
    display: block;
    box-sizing: border-box;
    padding-left: 89px;
    padding-top: 41px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.promo__image {
  margin-top: 29px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.promo__image-tablet {
  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin: auto;
    position: relative;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.promo__image-desctop {
  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
    right: 330px;
  }
}

.promo__button {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @color-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @color-green;
  display: block;
  margin: 0 auto 0 auto;
  text-align: center;
  padding-top: 7px;
  width: 280px;
  min-height: 40px;
  box-sizing: border-box;

  &:hover {
    background-color: @color-green-dark;
  }

  &:focus {
    outline: 1px solid @color-white;
  }

  &:active {
    background-color: @color-green-dark;
    color: @color-white-opacity;
  }

  &--top {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: 370px;
      margin-left: 90px;
      width: 244px;
      height: 54px;
      font-size: 20px;
      line-height: 20px;
      font-weight: normal;
      padding-top: 14px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 0;
    }
  }
}
