.site-list {
  background-color: @color-white;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 63px 188px 189px;
  }

  &--index {
    @media (min-width: @desktop-width) {
      grid-template-columns: 68px 208px 220px;
      background-color: @color-opacity;
    }
  }
}

.site-list__item {
  border-top: 1px solid @color-basic-grey;
  min-height: 66px;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    border: 0;
  }
}

.site-list__link {
  text-decoration: none;
  color: @color-black;
  margin: auto;
  padding-top: 22px;
  padding-bottom: 24px;
  display: block;

  &:hover {
    color: @color-black-opacity-2;
  }

  &:focus {
    outline: 1px solid @color-green;
  }

  &:active {
    color: @color-black-opacity;
  }

  @media (min-width: @tablet-width) {
    height: 36px;
    display: block;
    text-align: end;
    padding-top: 42px;
    padding-bottom: 0;

    &--active {
      border-bottom: 2px solid @color-green;
    }
  }

  @media (min-width: @desktop-width) {
    &--index {
      color: @color-white;
    }

    &--index &--active {
      border-bottom: 2px solid @color-white;
    }

    &:hover {
      color: @color-white-opacity-2;
    }

    &:focus {
      outline: 1px solid @color-white;
    }

    &:active {
      color: @color-white-opacity;
    }

    &--active {
      border-bottom: 2px solid @color-white;
    }
  }
}
