.slider-client__item {
  &--after {
    display: none;
  }

  &--double-cat {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    &--before {
      display: none;
    }

    &--double-cat {
      text-align: center;
      margin-top: 80px;
      display: block;
    }
  }
}

.slider-client__control {
  padding-top: 15px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 0;
  }
}
